.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: changeBackground 6s infinite;
}

@keyframes changeBackground {
  0%   { background-image: url("/img/img1.jpg"); }
  33%  { background-image: url("/img/img2.png"); }
  66%  { background-image: url("/img/img3.jpg"); }
  100% { background-image: url("/img/img1.jpg"); }
}
